.homeContainer {
  background-image: url("https://png.pngtree.com/background/20230412/original/pngtree-car-red-illustration-picture-image_2395081.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

/* =================!!!!!!!!!!! Why choose-us-section image  !!!!!!!!!!===================== */

.serviceImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

/* =================!!!!!!!!!!! Why choose-us-section image end !!!!!!!!!!===================== */

/* =================!!!!!!!!!!! Navbar-Styles !!!!!!!!!!===================== */

.navHeadBtn {
  background-color: black;
  border: none;
  color: red;
  padding: 2rem;
}

.navHeadBtn:hover {
  color: white;
  font-size: larger;
}

/* =================!!!!!!!!!!! Navbar-Styles end !!!!!!!!!!===================== */

/* =================!!!!!!!!!!! Home text !!!!!!!!!!===================== */

.homeText {
  color: white;
  font-size: 5rem;
}

.homeParaText {
  color: white;
  font-size: 1.3rem;
}

/* =================!!!!!!!!!!! Home text end !!!!!!!!!!===================== */

/* =================!!!!!!!!!!! Advantage-Images  !!!!!!!!!!===================== */

/* */

.advantage-images {
  height: 15rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 2rem 1rem 2rem 1rem;
  transition: transform 0.3s ease-in-out;
}
.advantage-images:hover {
  transform: scale(1.1);
  cursor: crosshair;
}

/* =================!!!!!!!!!!! WAdvantage-Images  end !!!!!!!!!!===================== */

/* =================!!!!!!!!!!! h-scrolling image start !!!!!!!!!!===================== */

.horizontal-scroll-container {
  overflow-x: scroll;
  overflow-y: hidden; /* Optional: hide the vertical scrollbar */
  white-space: nowrap;
  height: 100vh; /* Ensure it takes the full viewport height */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.horizontal-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.horizontal-scroll-container.disable-vertical-scroll {
  overflow-y: hidden; /* Hide vertical scrolling while horizontally scrolling */
}

.horizontal-scroll-content {
  display: flex;
  flex-wrap: nowrap;
}

.horizontal-scroll-content > div {
  flex: 0 0 auto;
  margin-right: 1rem; /* Optional: Add some space between the items */
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.image {
  display: block;
  transition: transform 0.5s ease;
}

.image-container:hover .image {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  background: rgba(0, 0, 0, 0.7); /* Adjust transparency */
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
}

.horizontal-scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.horizontal-scroll-container::-webkit-scrollbar {
  display: none;
}

/* =================!!!!!!!!!!! h-scrolling image end !!!!!!!!!!===================== */

/* =================!!!!!!!!!!! marquee effect (H-Scrolling) !!!!!!!!!!===================== */

.marquee-container {
  display: flex;
  animation: marquee 10s linear infinite; /* Adjust duration and timing function as needed */
}

.marquee-item {
  margin-right: 1rem; /* Adjust spacing between images */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* =================!!!!!!!!!!! marquee effect (H-Scrolling) end !!!!!!!!!!=================== */

/* ====================!!!!!!!!!!! crad style !!!!!!!!!!======================= */
.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card__image {
  width: 450px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover .card__image {
  transform: scale(0) rotate(-45deg);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    height: 150px;
    max-width: 250px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__description {
    font-size: 12px;
  }
}


/* ===============!!!!!!!!!!! card style  end !!!!!!!!!!================== */


/* ===============!!!!!!!!!!! loader style  end !!!!!!!!!!================== */

.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation */
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}


/* ===============!!!!!!!!!!! loader style  end !!!!!!!!!!================== */